@if (cont==1) {
<section class="mt-5 pt-5">
  <div class="container">
    <h2>please enter your verification code</h2>
    <form [formGroup]="EmailForm" (submit)="forGetpass()">
      <div class="form-floating mb-3">
        <input
          formControlName="email"
          type="email"
          id="floatingInput"
          placeholder="name@example.com"
          class="form-control"
        /><label for="floatingInput">Email </label>

        @if ( EmailForm.get('email')?.errors && EmailForm.get('email')?.touched ) {
        <div class="alert alert-danger mt-3" role="alert">
          @if(EmailForm.get('email')?.getError('required')) { required } @else if
          (EmailForm.get('email')?.getError('email')) {email pattern is invalid}
        </div>
        }
      </div>
      <button
        [disabled]="EmailForm.invalid || loading"
        type="submit"
        class="btn btn-lg me-auto btn-outline-success"
      >
        verify @if (loading) {
        <i class="fas fa-spin fa-spinner"></i>
        }
      </button>
    </form>
  </div>
</section>
} @if (cont==2) {
<section class="mt-5 pt-5">
  <div class="container">
    <h2>please enter your verification code</h2>
    <form [formGroup]="codeForm" (submit)="codePass()">
      <div class="form-floating mb-3">
        <input
          formControlName="resetCode"
          type="text"
          id="floatingInput"
          placeholder="name@example.com"
          class="form-control"
        /><label for="floatingInput">code </label>
        @if ( codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched ) {
        <div class="alert alert-danger mt-3" role="alert">
          @if(codeForm.get('resetCode')?.getError('required')) { required } @else if
          (codeForm.get('resetCode')?.getError('pattern')) {code is invalid}
        </div>
        }
      </div>
      <button
        [disabled]="codeForm.invalid || loading"
        type="submit"
        class="btn btn-lg me-auto btn-outline-success"
      >
        verify @if (loading) {
        <i class="fas fa-spin fa-spinner"></i>
        }
      </button>
    </form>
  </div>
</section>
} @if (cont==3) {
<section class="mt-5 pt-5">
  <div class="container">
    <h2>please enter your verification code</h2>
    <form [formGroup]="loginForm" (submit)="done()">
      <div class="form-floating mb-3">
        <input
          formControlName="email"
          type="email"
          id="floatingInput"
          placeholder="name@example.com"
          class="form-control"
        /><label for="floatingInput">Email </label>

        @if ( loginForm.get('email')?.errors && loginForm.get('email')?.touched ) {
        <div class="alert alert-danger mt-3" role="alert">
          @if(loginForm.get('email')?.getError('required')) { required } @else if
          (loginForm.get('email')?.getError('email')) {email pattern is invalid}
        </div>
        }
      </div>
      <div class="form-floating mb-3">
        <input
          formControlName="newPassword"
          type="password"
          id="floatingInput"
          placeholder="name@example.com"
          class="form-control"
        /><label for="floatingInput">new Password </label>
        @if ( loginForm.get('newPassword')?.errors && loginForm.get('newPassword')?.touched ) {
        <div class="alert alert-danger mt-3" role="alert">
          @if(loginForm.get('newPassword')?.getError('required')) { required } @else if
          (loginForm.get('newPassword')?.getError('pattern')) {new Password pattern is invalid}
        </div>
        }
      </div>
      <button
        [disabled]="loginForm.invalid || loading"
        type="submit"
        class="btn btn-lg me-auto btn-outline-success"
      >
        verify @if (loading) {
        <i class="fas fa-spin fa-spinner"></i>
        }
      </button>
    </form>
  </div>
</section>
}
