<div class="container py-5 my-5 p-5 bg-light rounded">
  <div class="d-flex justify-content-between mb-4">
    <h2>My wish List</h2>
  </div>
  @for (wish of listData; track wish.id) {
  <div class="row border-bottom my-3 d-flex align-items-center p-2">
    <div class="col-md-2">
      <img alt="" class="w-100" [src]="wish.imageCover" />
    </div>
    <div class="col-md-10 d-flex justify-content-between">
      <div>
        <h5>{{ wish.title }}</h5>
        <h6 class="text-green">{{ wish.price }} EGP</h6>
        <button class="btn btn-sm m-0 p-0 text-danger" (click)="clearToWish(wish.id)">
          <i class="fa fa-trash"></i> Remove
        </button>
      </div>
      <div>
        <button class="btn-small btn h btn-lg d-block mx-auto" (click)="addToCart(wish.id)">
          add To Cart
        </button>
      </div>
    </div>
  </div>
  }
</div>
