<section>
  <div class="container">
    <div class="row g-0 justify-content-center">
      <div class="col-md-3 pb-5">
        <owl-carousel-o [options]="customOptionscate">
          <ng-template carouselSlide
            ><img src=".\assets\imgs\imgd2.jpg" alt="" class="d-block w-100 object-fit-cover"
          /></ng-template>
          <ng-template carouselSlide
            ><img src=".\assets\imgs\imgd1.jpg" alt="" class="d-block w-100 object-fit-cover"
          /></ng-template>
          <ng-template carouselSlide
            ><img src=".\assets\imgs\imgd3.jpg" alt="" class="d-block w-100 object-fit-cover"
          /></ng-template>
        </owl-carousel-o>
      </div>
      <div class="col-md-3">
        <img src=".\assets\imgs\imgd5.jpg" alt="" class="w-100" />
        <img src=".\assets\imgs\imgd4.jpg" alt="" class="w-100" />
      </div>
    </div>
  </div>
</section>
<section>
  <owl-carousel-o [options]="customOptionscat">
    @for (cat of categoriesList; track cat._id) {
    <ng-template carouselSlide>
      <img [src]="cat.image" height="230px" class="object-fit-cover" [alt]="cat.name" />
      <h3 class="h4">{{ cat.name }}</h3> </ng-template
    >}
  </owl-carousel-o>
</section>

<app-product></app-product>
